
/**Initial project changes, (bg color and div border to be removed**/

html {
  box-sizing: border-box;
  font-style: inherit;
  vertical-align: baseline;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #838994;
}


/**Navigation Section**/

.top-navigation {
  background-color: #fff;
}

.top-navigation > .content {
  width: 1150px;
  height: 70px;
  margin: 0 auto;
  padding: 0px 25px;  
}

.top-navigation .logo {
  width: 40px;
  height: 40px;
  margin-top: 15px;
}

.top-navigation .links {
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #838994;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
  display: inline-block;
  text-decoration: none;
  margin-top: 8px;
  margin-left: 25px;
}

.top-navigation .links .active {
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links li:hover {
  color: #333;
  cursor: pointer;
}

/**Background Image Section**/

.intro {
  background-image: url(../images/first-background.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 680px;
  overflow: auto;
  display: block;
}

.intro h1, .intro h3 {
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.intro h1 {
  margin-top: 215px;
  margin-bottom: -15px;
  font-size: 50px;
}

.intro h3 {
  font-size: 25px;
}

button {
  width: 155px;
  height: 53px;
  color: #fff;
  background-color: #f15a29;
  border-color: #f15a29;
  border-style: none;
  border-radius: 4px;
  padding: 16px 24px;
  font-size: 1.125rem;
  text-align: center;
  margin: 0 auto;
  line-height: 1.33;
  display: block;
  cursor: default;
} 

button:hover {
  background-color: #c04820;

}







