
/**Initial project changes, to be removed**/

body {
  background-color: LightGray;
}

div { 
  border: 1px solid blue;
}

/**Navigation Section**/

.top-navigation {
  background-color: #fff;
}

.top-navigation > .content {
  width: 1150px;
  height: 70px;
  margin: 0 auto;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 15px 0 25px;
}






